<!DOCTYPE html>
<html>
<head>
  <title class="page-title">TITLE</title>
  <meta charset="UTF8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/css/lessframework.css" rel="stylesheet" type="text/css">
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=PT+Sans+Caption" rel="stylesheet" type="text/css">
</head>
<body>
  <header>
    <hgroup>
      <h1>not a skinner box</h1>
      <h3 class="page-title">TITLE</h3>
    </hgroup>
  </header>
  <section id="content">
  </section>

  <footer>caffeinated play with clojure
    <a href="https://github.com/srid/notaskinnerbox">on github</a>
  </footer>
</body>
</html>

