body { 
  font-family: 'PT Sans Caption', sans-serif;
}

article a {
  text-decoration: none;
}
article a:hover {
  border-bottom: 2px solid;
}

h1 { 

}

footer {
  text-align:center;
  clear:both
}

footer h1 {
  font-size: 28px;
}

